<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nan.mapper.DailyMapper">

    <select id="getCPUInfo" resultType="string">
        select ServCPU from SmartController.Daily where DDate=#{date} and DIPAddr=#{ip}
    </select>
    <select id="getTOnFirst" resultType="string">
        select TOnFirst from SmartController.Daily where DIPAddr=#{ip}
    </select>
    <select id="getTOffLast" resultType="string">
        select TOffLast from SmartController.Daily where DIPAddr=#{ip}
    </select>
    <select id="getTimeInfo" resultType="com.nan.pojo.TimeInfo">
        select DDate,TOnFirst,TOffLast from SmartController.Daily where DIPAddr=#{ip}
    </select>
    <select id="getServDaily" resultType="com.nan.pojo.Daily">
        select * from SmartController.Daily where DIPAddr=#{ip}
    </select>
</mapper>